<%= form_for(@combatant) do |f| %>
	<div>
		<%= f.label :new_combatant, :class => 'header' %><br>

		<p class = 'combs'>
		Name
		</p>
		<p>
		<%= f.text_area :name, :class => 'text' %>
		</p>

		<p class = 'combs'>
		Alignment (Player, Enemy, etc.)
		</p>
		<p>
		<%= f.text_area :alignment, :class => 'text' %>
		</p>

		<p class = 'combs'>
		Initiative
		</p>
		<p>
		<%= f.text_area :initiative, :class => 'text' %>
		</p>

		<p class = 'combs'>
		Current Turn (Check this for the highest initiative!)
		</p>
		<p>
		<%= f.check_box :turn, default: false %>
		</p>

		<p>
		<%= f.submit 'New', :class => 'new-button' %>
		</p>

	</div>

<% end %>
